.cell {
      width: 100px;
      aspect-ratio: 1 / 1;
      border: 1px solid;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
}

.counter {
      margin: 1rem auto;
      width: 100px;
      height: 50px;
      border: 1px solid;
      line-height: 50px;
}